.vscode/
.vscode-test/

yarn-error.log
*.tsbuildinfo

src/
.editorconfig
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
.tool-versions
babel.config.js
jest.config.json
tsconfig-onlyts.json
tsconfig-spects.json
tsconfig.json
